@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    ::selection {
        background: #94c321;
        color: #fff;
      }
    
      body {
        font-family: "Inter", sans-serif;
      }
      
      #bar_top_anime {
        animation: bar_top_anime 2s ease 5s 1 normal forwards;
        -webkit-animation: bar_top_anime 2s ease 5s 1 normal forwards;
      }
    
      .fixed-nav{
        position:fixed;
        top:0 ;
        left:0;
        right: 0;
        width:100%;
        background:#fff;
        z-index:10000;
        padding: 1rem;
        overflow:auto;
        zoom:1;
    }
    
      @keyframes bar_top_anime {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
    
        100% {
          opacity: 0;
          transform: translateY(-50px);
          -webkit-transform: translateY(-50px);
          -moz-transform: translateY(-50px);
          -ms-transform: translateY(-50px);
          -o-transform: translateY(-50px);
        }
      }
    
      header nav {
        animation: nav_anime 2s ease 6s 1 normal forwards;
        -webkit-animation: nav_anime 2s ease 6s 1 normal forwards;
      }
      @keyframes nav_anime {
        0% {
          transform: translateY(0);
        }
    
        100% {
          transform: translateY(-20px);
          -webkit-transform: translateY(-20px);
          -moz-transform: translateY(-20px);
          -ms-transform: translateY(-20px);
          -o-transform: translateY(-20px);
        }
      }

      .ico_hover{
        visibility: hidden;
      }

      .item_hover:hover .ico_hover{
        visibility: visible;
        cursor: pointer;
      }

      .model{
        display:none;
      }

      .model_add{
        display: block;
      }
}

.active_category{
  border-bottom: 2px solid orange;
}